# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# migrations cache (optional)
*/migrations/__pycache__/